// Fonts
@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf Regular'), url('~static/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('~static/fonts/Telegraf-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf SemiBold'), url('~static/fonts/Telegraf-SemiBold.woff2') format('woff2'),
        url('~static/fonts/Telegraf-SemiBold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf UltraLight'), url('~static/fonts/Telegraf-UltraLight.woff2') format('woff2'),
        url('~static/fonts/Telegraf-UltraLight.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Object Sans';
    src: local('ObjectSans-Regular'), url('~static/fonts/ObjectSans-Regular.woff2') format('woff2'),
        url('~static/fonts/ObjectSans-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Object Sans';
    src: local('ObjectSans-Slanted'), url('~static/fonts/ObjectSans-Slanted.woff2') format('woff2'),
        url('~static/fonts/ObjectSans-Slanted.woff') format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Object Sans';
    src: local('ObjectSans-Bold'), url('~static/fonts/ObjectSans-Bold.woff2') format('woff2'),
        url('~static/fonts/ObjectSans-Bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Object Sans';
    src: local('ObjectSans-BoldSlanted'), url('~static/fonts/ObjectSans-BoldSlanted.woff2') format('woff2'),
        url('~static/fonts/ObjectSans-BoldSlanted.woff') format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}
