// Fonts
@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf Regular'), url('~static/fonts/Telegraf-Regular.woff2') format('woff2'),
        url('~static/fonts/Telegraf-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf SemiBold'), url('~static/fonts/Telegraf-SemiBold.woff2') format('woff2'),
        url('~static/fonts/Telegraf-SemiBold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Telegraf';
    src: local('Telegraf UltraLight'), url('~static/fonts/Telegraf-UltraLight.woff2') format('woff2'),
        url('~static/fonts/Telegraf-UltraLight.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Graphik';
    src: local('Graphik Regular'), url('~static/fonts/Graphik-Regular.woff2') format('woff2'),
        url('~static/fonts/Graphik-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: local('Graphik Italic'), url('~static/fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('~static/fonts/Graphik-RegularItalic.woff') format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
}
